body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    flex-wrap:wrap;
    background: rgb(149, 148, 148);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav {
    display:flex;
    justify-content:space-between;
    list-style: none;
    margin-right: 5%;
}

.logo {
    font: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;    
}

a {
    margin: 15px;
    color: #000;
    text-decoration: none;
}

li a:hover {
    color: #fefefe;
    
}

li a:hover:active {
    color: #000;
}

.banner-area {
    position: relative;
    background-image: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.banner-area, .about-area, .portfolio-area, .contacts-area {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 670px;
}

.banner-part {
    position: absolute;
    padding: 10%;
    left: 3%;
    font-size: larger;
    border: #000;
    border-width: 20px;
}

h1 {
    font-size: 50px;
    font-family: verdana;
    position:absolute;
    left: 2%;
    top: 7%;
}
p {
    position: relative;
    padding: 10%;
    font-family:Times;
    font-size: 24px;
}

.about-area, .contacts-area {
    background: #fefefe;
}

.portfolio-area {
    background: #606060;
    color: #fefefe;
}

.img {
    height: 40%;
}

.watermark {
    font-family: georgia;
    position:fixed;
    bottom: 0%;
    right:5px;
    opacity:0.5;
    z-index:99;
    color:rgb(0, 0, 0);
    justify-items: center;
    margin-right: 2%;
}

html {
    scroll-behavior: smooth;
    scrollbar-track-color: #5b5b5b;
    
}
